.boxRegister {
  margin: 0 auto;
  padding-top: 120px;
  width: 20%;
  height: 58.2vh;

  .form-group {
    border-bottom: 2px solid #0069d9;

    input {
      border: none;
      outline: none;
      background: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-align: center;
    }
  }

  &:focus,
  input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn {
    margin-top: 1rem;
    width: 100%;
    background: none;
    color: #555;
    transition: all ease-in 0.4s;
  }
}

.boxCart {
  margin: 0 auto;
  padding-top: 170px;
  width: 40%;
  height: 58.2vh;
  text-align: center;
}
