.sign-in {
  margin: 0 auto;
  height: calc(100vh - 400px);
  padding: 50px 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
