.sign-in {
  margin: 0 auto;
  height: calc(100vh - 359px);
  padding: 50px 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .log-reg {
    margin-top: 10px;
    width: 100%;
  }
}
