.sign-in {
  margin: 0 auto;
  min-height: calc(100vh - 359px);
  padding: 50px 25px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .log-reg {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .sign-in {
    .title {
      font-size: 1.5rem;
    }

    .buttons {
      display: flex;
      flex-direction: column;
    }
  }
}
