.sign-up {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 359px);
  width: 400px;
  text-align: center;

  .log-reg {
    margin-top: 10px;
    width: 100%;
  }
}
