.cart-dropdown {
  position: absolute;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px solid white;
  background-color: #071849;
  z-index: 10;
  top: 110px;
  right: 250px;

  .empty-message {
    color: white;
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: white;
  }

  .cart-item {
    min-height: 60%;
    min-width: 70%;
    color: white;
  }

  button {
    margin-top: auto;
  }
}

@media (max-width: 1200px) {
  .cart-dropdown {
    padding: 25px;
    top: 110px;
    right: 50px;
  }
}

@media (max-width: 800px) {
  .cart-dropdown {
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    height: 400px;
    display: flex;
    padding: 25px;

    .cart-item {
      color: white;

      img {
        width: 50%;
      }
    }
  }
}
