#nav-item-middle:hover .nav-item-text-middle {
  visibility: visible;
  top: 50%;
  opacity: 0.7;
  border-radius: 20% 7%;
  transition: all 1s;
}

#nav-item-right:hover .nav-item-text-right {
  visibility: visible;
  right: 0;
  opacity: 0.7;
  transition: all 1s;
  border-bottom-left-radius: 2rem;
}

.nav-item-name {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 6px;
  border-bottom: 2px solid #103191;
  cursor: pointer;
  margin-top: 5px;

  &:hover {
    color: #fff;
    border-bottom: 3px solid #fff;
    transition: all ease-in 0.2s;
  }
}

.nav-item-text-middle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 70%;
  height: auto;
  background-color: #071849;
  opacity: 0;
  color: aliceblue;
  padding: 3% 2%;
  text-align: justify;
  visibility: hidden;
  transition: all 1s;
}

.nav-item-text-right {
  position: absolute;
  top: 14%;
  right: -7%;
  z-index: 3;
  width: 24%;
  height: auto;
  background-color: #071849;
  opacity: 0;
  color: aliceblue;
  padding: 3% 3.5%;
  text-align: justify;
  visibility: hidden;
  transition: all 1s;
}
