.header {
  width: 100%;

  .top-nav-bar {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: #071849;
    padding: 0 2%;
    z-index: 10;

    .logo-container {
      height: 100%;
      padding: 5px;
      display: flex;
      align-items: center;
      text-decoration: none;

      .logo {
        height: 40px;
        pointer-events: none;
      }

      .logo-text {
        color: #fff;
        font-size: 20px;
        font-weight: 700;

        &:hover {
          color: #56c2e5;
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        .logo {
          animation: App-logo-spin infinite 20s linear;
        }
      }

      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }

    .options {
      width: 50%;
      height: 100%;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
        list-style: none;
        text-decoration: none;
        padding: 10px 40px;
        text-align: center;
        background-color: #071849;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        white-space: nowrap;

        &--active {
          background-color: #063564;
          color: #fff;
          text-decoration: none;
        }

        .option-text {
          margin-left: 0.4rem;
        }

        &:hover {
          background-color: rgb(2, 12, 32);
        }

        &:not(:first-child) {
          border-left: 2px solid #fff;
        }
      }
    }
  }

  .bottom-nav-bar {
    width: 100%;
    height: 40px;
    display: inline-flex;
    justify-content: space-around;
    background-color: #103191;
  }

  @media (max-width: 1100px) {
    .top-nav-bar {
      height: 60%;
      width: 100%;
      flex-direction: column;

      .logo-container {
        justify-content: center;
      }

      .options {
        width: 100%;
        justify-content: center;
        padding: 5px 0px;
      }

      .option {
        padding: 5px 10px;
      }
    }

    .bottom-nav-bar {
      display: none;
    }
  }

  @media (max-width: 500px) {
    .top-nav-bar {
      height: 60%;
      width: 100%;
      flex-direction: column;

      .logo-container {
        justify-content: center;
      }

      .options {
        width: 100%;
        justify-content: center;
      }

      .option {
        padding: 5px 10px !important;
        font-weight: 500 !important;
      }
    }

    .bottom-nav-bar {
      display: none;
    }
  }
}
