.forgot-password {
  margin: 0 auto;
  height: calc(100vh - 400px);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;

  .log-reg {
    margin-top: 10px;
    width: 100%;
  }
}
