footer {
  background-color: #071849;
  color: #fff;

  h1 {
    font-size: 15px;
    margin: 25px 0;
  }

  p {
    font-size: 12px;
  }

  h3 {
    font-size: 27px;
  }

  hr {
    background-color: #ccc;
  }

  .row i {
    padding-right: 15px;
  }
}

.footer-image {
  margin: 0 0 20px 0;
}

.copyright {
  text-align: center;
  font-size: 15px;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .col-md-3 {
    text-align: center;
  }
}
