body {
  font-family: 'Open Sans Condensed, Arial, Helvetica, sans-serif';
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
